@CHARSET "UTF-8";
body {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    font-size: 16px;
    margin-top:30px; margin-bottom:40px; margin-left:60px; margin-right:60px;
}

#title {
    margin-left: 20px;
}
#threadName {
    margin-left: 20px;
}

#canvasSize {
    font-size:85%;
    margin-top: 10px;
    margin-left: 20px;
}

#preview {
    margin: 10px 40px;
}

#return {
    margin: 10px 20px;
}

footer {
    text-align: right;
}