@CHARSET "UTF-8";

#title {
     margin-left: 20px;
}

#info {
    margin-left: 30px;
}

#delRes {
    margin: 20px;
    border: thin solid;
}
.type {
    margin-left: 40px;
}
.message {
    margin-left: 70px;
}

#postDelRes {
    margin-left: 100px;
    margin-top: 10px;
    margin-bottom: 20px;
}

footer {
    text-align: right;
}