@CHARSET "UTF-8";

body {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

#title {
     text-align: center;
}

#info {
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
}

#threadList {
    width: 600px;
    height: 100px;
    overflow: scroll;
    border: thin dotted;
    margin: 10px auto 15px;
}

#res {
    margin: 20px 35px;
    border: thin dotted;
    background-color: #e6e6e6;

}

#res>h3:first-child {
    margin: 10px 15px;
}
dl {
    margin: 10px 15px;
}

dd {
    margin: 8px 20px;
    overflow: hidden;
}

#threadLink {
    text-align: center;
}

#pageMove {
    margin-left: 20px;
    margin-top: -5px;
    margin-bottom: 39px;
}

.nonVisit:link {
    color: #0000ff;
}

.nonVisit:visited {
    color: #0000ff;
}

footer {
     text-align: right;
}
