@CHARSET "UTF-8";

#refresh{
    margin-left: 40px;
}
#returnTop{
    margin-top: 20px;
    margin-left: 30px;
}
#returnBottom {
    margin-left: 30px;
}
#createResForm {
    margin-left: 55px;
    margin-top: 15px;
}

#paint {
    margin-left: 60px;
    margin-top: 10px;
    margin-bottom: 5px;
    background: white;
    border: 3px solid #999;
}

#paintFunc {
    margin: 1px 60px;
}

#paintColor {
    background-color: #000000;
    margin-left: 10px;
}

#resetButton {
    width: 70px;
}

#undoButton {
    width: 70px;
    margin-left: 10px;
}

#funcSlider {
    width: 165px;
    height: 60px;
    border: 1px solid #999;
    margin-top: 5px;
    margin-bottom: 60px;
}

#sliderLine {
    margin: 10px;
    width: 140px;
    background: white;
}

#sliderAlpha {
    margin-left:10px;
    width: 140px;
    background: white;
}

footer {
    text-align: right;
}